body {
  font-family: Arial, Helvetica, sans-serif;
  /* Vars */
  --header-height: 50px;
}

header {
  position: absolute;
  height: var(--header-height);
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: absolute;
  top: var(--header-height);
  bottom: 0px;
  width: 100%;
  overflow: auto;
}

button {
  padding: 10px;
  width: 150px;
  background-color: transparent;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
  transform: scale(1);
  transition-duration: 300ms;
}

a:hover {
  transform: scale(1.2);
  
}

button:hover {
  background-color: #e6e6e6;
}

input {
  padding: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

img {
  width: 50%;
  margin-bottom: 20px;
}

/* Classes */

.height-100 {
  height: 100%;
}

.width-50 {
  width: 50%;
}

.page-navigation {
  position: fixed;
  right: 20px;
  height: var(--header-height);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control {
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.unseparated-forms {
  padding: 0px 20px;
  width: 80%;
}

.separated-forms {
  padding: 0px 20px;
  width: 80%;
  border: 1px solid black;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

