{% extends "auth_base.html" %}
{% load rest_framework %}

{% block content %}

<header>
    <h1>SoftDesk API</h1>
</header>

<table class="height-100">
    <tr>
        <td>
            <h2>Inscrivez-vous</h2>
            <p>{{ message }}</p>
            <form method="post">
                {% csrf_token %}
                {% render_form form %}
                <button type="submit" >S'inscrire</button>
                <a href="{% url 'login' %}"><button type="button">Retourner</button></a>
            </form>
        </td>
    </tr>
</table>

{% endblock %}